# Make a duplicate of this file and save it as "wikidata_credentials.py".
# Remember to set the permissions that others don't snoop on your username and
# password! Recommendation: chmod 600 wikidata_credentials.py

wikidata_username='YOUR USERNAME HERE'
wikidata_password='YOUR PASSWORD HERE'